<div class='clearfix'>
  <% if @paste.errors.any? %>
    <div class='grid_12 form_errors'>
      <h2><%= pluralize @paste.errors.count, 'error' %> prohibited this paste from being saved:</h2>
      
      <ul>
      <% @paste.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class='alpha grid_9'>
    <%= form_for @paste do |f| %>
      <fieldset>
        <div class='field header clearfix'>
          <div class='title'>
            <%= f.text_field :title %>  
          </div>

          <div class='language'>
            <label for='some_name'><%= t 'paste.labels.language' %></label>
            <%= f.select :language, options_for_select(Languages.sort, @paste.language || 'ruby') %>
          </div>
        </div>

        <div class='field last'>
          <%= f.text_area :code, :rows => 20 %>
        </div>
      </fieldset>

      <div class='form_buttons'>
        <% if @paste.new_record? %>
          <%= button_tag %{<span class='icon key'></span>#{t 'paste.buttons.private'}}.html_safe, 
                :name => 'scope', :value => 'private', :class => 'big positive' %>
              
          <%= button_tag %{<span class='icon user'></span>#{t 'paste.buttons.public'}}.html_safe, 
                :name => 'scope', :value => 'public', :class => 'big' %>
        <% else %>
          <%= link_to 'Cancel', :back, :class => 'negative big button' %>
          <%= button_tag %{<span class='icon check'></span>#{t 'paste.buttons.save'}}.html_safe, :class => 'big primary' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class='grid_3'>
    <div class='infotip'>
      <p><strong>Paste</strong> is a simple way to share snippets and pastes with others.</p>
      <p><strong>Public</strong> pastes will be viewable to anyone and will be included in searches.</p>
      <p><strong>Private</strong> pastes will generate a secure token for you to pass around and will not be included in the searches</p>
    </div>
  </div>
</div>