<div class='code_wrapper grid_9'>
  <pre data-highlight="<%= @paste.language %>">
<%= @paste.code %>
  </pre>
</div>

<div class='grid_3'>
  <h3><%= t 'paste.headers.details' %></h3>
  <dl class='clearfix'>
    <dt><%= t 'paste.details.name' %>:</dt>
    <dd><%= @paste.title %></dd>
    <dt><%= t 'paste.details.language' %>:</dt>
    <dd><%= @paste.language %></dd>
    <dt><%= t 'paste.details.size' %>:</dt>
    <dd><%= number_to_human_size @paste.code.size %></dd>
    <dt><%= t 'paste.details.updated' %>:</dt>
    <dd><%= time_ago_in_words @paste.updated_at %> ago</dd>
  </dl>

  <h3>Actions</h3>
  <%= link_to t('paste.buttons.edit'), edit_paste_path(@paste), :class => 'button' %>
  <%= link_to t('paste.buttons.delete'), paste_path(@paste), :method => :delete, 
        :class => 'negative button', :confirm => t('paste.delete.confirm', :title => @paste.title) %>
</div>
